body{
  height: 100vh;
  width: 100vw;
}


table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;

  width: 90%;
  text-align: center;
  margin:auto;
}
thead{
  background-color: rgba(35, 44, 129, 0.199);
  height: 1.5cm;
 
  
}
tr{
  border: 1px solid rgb(236, 235, 235);
  padding: 8px;
  height: 1.2cm;
  text-align: center;
}
th{
 
  padding: 8px;
  
  
  text-align: center;
 
  color: rgb(10, 22, 131);
} 
 tr:hover {background-color: #ddd;}
/* table  {
  width: 90%;
  text-align: center;
  margin:auto;

}


.tableofuploadedfiles{
transform: translateY(30%);
}

thead {
  font-size: 20px;
  line-height: 30px;
  font-family: "Roboto", serif;
  font-style: normal;
  color: #220fca;
 

} table td, table th {
  border-bottom: 2px solid #d6d3d3;
}

td {
  height: 49px;
  background: #ffffff;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
 

}





td:hover {background-color: #ddd;} */
.gradient {
  align-items: stretch;
  margin: 1em 0;
  height: 60px;
  line-height: 2em;
  text-align: center;
  color: rgb(255, 255, 255);
width: 90%;

  
  margin:auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to right, rgba(44, 67, 199, 0.486), rgba(6, 18, 131, 0.644));
}



.showeyes{
  border: none;
  background-color: transparent;
color: rgb(8, 17, 148);
font-size: 20px;
}

.buttonpoubelle{
  border: none;
  background-color: transparent;
color: rgb(126, 13, 13);
font-size: 20px;}

.Upload{

  color: rgb(255, 255, 255);
  background-color: rgb(55, 73, 236);
  border-radius: 5px;
  border: none;
  font-size: 15px;
 height:47px;
 width: 80px;
 text-align: center;

  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;

  transform: translate(1570%,-200%);




}


.eyebutton{  
  color: rgb(255, 255, 255);
  background-color: rgb(55, 73, 236);
  border-radius: 5px;
  border: none;
  font-size: 15px;
 height:47px;
 width: 80px;
 text-align: center;

  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
 
  
  transform: translate(1460%,-100%);



}

hr{
  border: 1px solid rgba(29, 4, 170, 0.959);
}
.eyebutton:hover{  
  box-shadow: inset 0 0 0 50px #100cdb;
}

.Upload:hover{  box-shadow: inset 0 0 0 50px #100cdb;}
.buttontexticon{
  font-size: 15px;
  font-weight: bold;
  
  
}


.scrolltop{
  border: none;
  background-color: transparent;
  color: rgb(13, 21, 126);
  font-size: 20px;
  transform: translate(4120%,1150%);
}
.reference{
  border: none;
  background-color: transparent;
  color: rgb(13, 21, 126);
  font-size: 20px;
  transform: translate(4120%);
}
.box{
  transform: translate(32%,-30%);
}

.box select {
  background-color: #9d9d9eb6;
  color: white;
  padding: 5px;
  width:200px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  margin:10px;
  
}



.box:hover {
  
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
  background-color:#9d9d9eb6;;
  
}
.buttonShow{
  color: rgb(255, 255, 255);
  background-color: rgb(55, 73, 236);
  border-radius: 5px;
  border: none;
  font-size: 14px;
 height:40px;
 width: 80px;
 text-align: center;

  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 5px;
  transform: translate(90%);}
.download{color: rgb(255, 255, 255);
  background-color: rgb(55, 73, 236);
  border-radius: 5px;
  border: none;
  font-size: 12px;
 height:40px;
 width: 80px;
 text-align: center;
 transform: translate(100%);

  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;}
  .Buttonupload{
    color: rgb(255, 255, 255);
  background-color: rgb(55, 73, 236);
  border-radius: 5px;
  border: none;
  font-size: 14px;
 height: 40px;
 width: 80px;
 text-align: center;

  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 5px;
  transform: translate(110%);
  }
.Button{
  transform: translate(280%,-130%);
}

/* .navv {
  display: flex;
  height: 4em;
  align-items: center;
  margin-top: 0%;
  padding: 0px;
  background-color: #57575a;
}
.logoheader {
  width: 39mm;
  height: 25mm;
  margin-left: 13mm;
}
.titreheader {
  margin-left: 4cm;
}

.dashboard {
  transform: scale(1.75);
  align-items: "center";
  color: black;
}
.warning {
  transform: scale(1.75);
  align-items: "center";
  color: black;
}
.recom {
  transform: scale(1.75);
  align-items: "center";
  color: black;
}
.bod {
  background-color: #a5a9be;
  margin-top: 1.6cm;
}
.logoutbutton {
  transform: scale(1.75);
  align-items: "center";
  color: rgb(7, 6, 6);
}
 */
